<div class="form p-dir-col p-d-flex">
  <div class="p-d-flex p-dir-row p-col-12">
    <div>
      <p-dropdown
        placeholder="上層選單分類"
        [options]="parentCategory"
        optionLabel="name"
        optionValue="name"
        [(ngModel)]="filterParent"
      ></p-dropdown>
    </div>
    <div>
      <p-dropdown
        placeholder="問題母分類"
        [options]="category"
        optionLabel="name"
        optionValue="name"
        [(ngModel)]="filterCategory"
      ></p-dropdown>
    </div>
    <div>
      <p-dropdown
        placeholder="問題子分類"
        [options]="childCategory"
        optionLabel="name"
        optionValue="name"
        [(ngModel)]="filterChild"
      ></p-dropdown>
    </div>
    <div>
      <input
        type="text"
        placeholder="關鍵字"
        [(ngModel)]="keyword"
        pInputText
      />
    </div>
    <div>
      <button
        pButton
        type="button"
        label="Search"
        icon="pi pi-search"
        iconPos="right"
        class="p-button-primary"
        (click)="search()"
      ></button>
    </div>
    <div>
      <button
        pButton
        type="button"
        label="Create"
        icon="pi pi-plus-circle"
        iconPos="right"
        class="p-button-warning"
      ></button>
    </div>
  </div>
</div>
<div class="p-col-12">
  <p-accordion [multiple]="true">
    <p-accordionTab
      *ngFor="let item of filterMenu"
      [header]="item.name"
      [selected]="item.selected"
    >
      <ng-template pTemplate="content">
        <p-accordion [multiple]="true">
          <p-accordionTab
            *ngFor="let child of item.child"
            [header]="child.category"
            [selected]="false"
          >
            <ng-template pTemplate="content">
              <div class="p-col-12 mx-0">
                <p>
                  Question: {{ child.question }}<br />
                  Answer: {{ child.ans }}
                </p>
              </div>
              <p-accordion [multiple]="true">
                <p-accordionTab
                  *ngFor="let childCategory of child.child"
                  [header]="childCategory.child_category"
                  [selected]="false"
                >
                  <ng-template pTemplate="content">
                    <p>
                      Question: {{ childCategory.child_question }}<br />
                      Answer: {{ childCategory.child_answer }}
                    </p>
                  </ng-template>
                </p-accordionTab>
              </p-accordion>
            </ng-template>
          </p-accordionTab>
        </p-accordion>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</div>
