<div class="p-dir-col p-d-flex">
  <div class="p-d-flex p-dir-row p-col-12">
    <div class="p-col-4">
      <p-dropdown
        placeholder="問題子分類"
        [options]="childCategory"
        optionLabel="name"
        optionValue="name"
        styleClass="w-100"
        [(ngModel)]="filterChild"
      ></p-dropdown>
    </div>
    <div class="p-col-4">
      <input class="w-100" type="text" pInputText />
    </div>
    <div class="p-col-2">
      <button
        pButton
        type="button"
        label="Search"
        icon="pi pi-search"
        iconPos="right"
        class="p-button-primary"
      ></button>
    </div>
  </div>
  <div class="p-d-flex p-dir-col p-col-12">
    <div class="p-col-12 my-0">
      <h2>問題TOP5</h2>
      <p-divider></p-divider>
      <ul>
        <li *ngFor="let item of data | slice: 0:5; let i = index">
          問題{{ i + 1 }}: {{ item.question }}
        </li>
      </ul>
    </div>
    <div class="p-col-12 my-0">
      <p-accordion [multiple]="true">
        <p-accordionTab *ngFor="let item of data" [header]="item.question">{{
          item.answer
        }}</p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
