<div class="layout-wrapper">
  <div class="menu">
    <div class="p-d-flex p-align-center p-justify-center">
      <h2>標題</h2>
    </div>
    <p-divider></p-divider>
    <div>
      <p-panelMenu styleClass="w-100" [model]="items"></p-panelMenu>
    </div>
  </div>
  <div class="main">
    <div class="topbar">
      <div class="w-100 p-d-flex p-align-center p-justify-end">
        <h2>員工姓名 (員工編號) 剩餘時間 09:42</h2>
      </div>
    </div>
    <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
    <div></div>
  </div>
</div>
