<div class="layout-wrapper">
  <div [class.menu]="isMenuOpen" [class.menu-hide]="!isMenuOpen">
    <div class="p-d-flex p-align-center p-justify-center">
      <h3>標題</h3>
    </div>
    <p-divider></p-divider>
    <div>
      <p-panelMenu styleClass="w-100" [model]="items"></p-panelMenu>
    </div>
  </div>
  <div [class.main]="isMenuOpen" [class.main-extend]="!isMenuOpen">
    <div class="topbar">
      <div class="w-100 p-d-flex p-align-center p-justify-between">
        <button
          pButton
          type="button"
          class="p-button-outlined p-button-primary"
          icon="pi pi-bars"
          (click)="isMenuOpen = !isMenuOpen"
        ></button>
        <h3>員工姓名 (員工編號) 剩餘時間 09:42</h3>
      </div>
    </div>

    <div class="breadcrumb p-d-flex p-dir-row p-justify-start p-align-center">
      <span
        class="line-h-1"
        *ngFor="let item of breadcrumbItems"
        [routerLink]="item.url"
        >{{ item.label }}</span
      >
    </div>
    <!-- <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb> -->
    <div class="border-page">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
