.layout-wrapper {
  box-sizing: border-box;
}

.menu {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 20rem;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #2a323d;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
}

.menu-hide {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 20rem;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  left: - 20rem;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #2a323d;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
}

.main-extend {
  padding: 8px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
  & div {
    margin-bottom: 8px;
  }
}

.main {
  padding: 8px;
  margin-left: 20rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
  & div {
    margin-bottom: 8px;
  }
}

.topbar {
  width: 100%;
  height: 50px;
  // background-color: #fefefe;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.border-page {
  border: 1px #ccc solid;
}

.w-100 {
  width: 100%;
}
