/* You can add global styles to this file, and also import other style files */
@import '../src/styles/angular.scss';
@import '../src/styles/form.scss';
@import '../src/styles/dialog.scss';
body {
  margin: 0px;
  padding: 0px;
  background-color: #1d2632;
  color: rgba(255,255,255, 0.87)
}
.w-100 {
  width: 100% !important;
}

.my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.mx-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.p-d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

