/* You can add global styles to this file, and also import other style files */
@import '../src/styles/angular.scss';
@import '../src/styles/form.scss';
@import '../src/styles/dialog.scss';
body {
  margin: 0px;
  padding: 0px;
  background-color: #1d2632;
  color: rgba(255,255,255, 0.87)
}
.w-100 {
  width: 100% !important;
}

.my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.mx-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.p-d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.breadcrumb {
  width: 100%;
  background: #343e4d;
  border: 0 none;
  border-radius: 4px;
  padding: 1rem;
  span + span::before {
      margin: 0px 10px;
      content: "/";
      position: relative;
    }

  span:hover {
    color: #8dd0ff;
  }
  span {
    color: #4cc8db;
  }
}

// scroll bar
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
