<div class="title">
  <h3 [class.active]="showNum === 1">傳值傳址範例</h3>
  <div [class.active]="showNum === 1" class="p-d-flex">
    <div class="box p-d-flex p-align-center p-justify-center">val1: 1</div>
    <div class="box p-d-flex p-align-center p-justify-center">val2: 1</div>
    <div class="box p-d-flex p-align-center p-justify-center">val3: 1</div>
    <div class="box p-d-flex p-align-center p-justify-center">val4: 1</div>
  </div>
  <h3 [class.active]="showNum === 2">深淺複製</h3>
  <div [class.active]="showNum === 2" class="p-d-flex">
    <div class="box p-d-flex p-align-center p-justify-center">example:</div>
    <div class="box p-d-flex p-align-center p-justify-center">obj1:</div>
    <div class="box p-d-flex p-align-center p-justify-center">obj2:</div>
  </div>
  <h3 [class.active]="showNum === 3">閉包</h3>
  <div [class.active]="showNum === 3" class="p-d-flex">
    <div class="box p-d-flex p-align-center p-justify-center">count1:</div>
    <div class="box p-d-flex p-align-center p-justify-center">count2:</div>
    <div class="box p-d-flex p-align-center p-justify-center">count3:</div>
  </div>
</div>
